@font-face {
    font-family: "Kiwi";
    src: url('../fonts/KiwiSoda.ttf')
}
body{
    background-image: url('../img/Fondo.jpg');
    background-size: 100vw 54vw;
    background-repeat: no-repeat;
    /*overflow-y: hidden; /* Hide vertical scrollbar */
    /*overflow-x: hidden; /* Hide horizontal scrollbar */
}
.letras{
margin-top: 30vw;
margin-left: 50vw;
position: absolute;
}
.letras div{
    color: black;
    font-family: "Kiwi";
    font-size: 3vw;
    position: absolute;
}
#tres{
    opacity: 0;
}
#dos{
    position: absolute;
    opacity: 0;
}
#uno{
    position: absolute;
    opacity: 0;
}
#accion{
    margin-left: -3vw;
    position: absolute;
    opacity: 0;
}
.sol{
    margin-top: -28vw;
    margin-left: 30vw;
    position: absolute;
}
.sol img{
    width: 13vw;
    position: absolute;
}
.nube{
    margin-top: -8vw;
    margin-left: 20vw;
    position: absolute;
}
.nube img{
    width: 40vw;
    position: absolute;
}
.gota{
    margin-top: 16VW;
    margin-left: -76VW;
    position: absolute;
    rotate: 12grad;
    opacity: 0;
}
.gota img{
    width: 3vw;
    position: absolute;
}
.flor{
    margin-top: 60vw;
    position: absolute;
}
.flor img{
    width: 10vw;
    rotate: -45grad;
    position: absolute;
}  