@import url('../style/variables.css');

.fondo{
    border: 1px solid white 0;
    background-image: linear-gradient(#FFFFFF, #E6E6E6, #808080);
    background-size: 1920px 1080px;
    width: 1920px;
    height: 1080px;
}
.main{
    border: 1px solid #707070;
    background-color: white;
    width: 1340px;
    height: 800px;
    margin-top: 140px;
    margin-left: 260px;
    border-right: 110px solid black;
    border-radius: 8px;
}
#logo{
    margin-top: 43px;
    margin-left: 43px;
    width: 196px;
    height: 44px;
}
#text1{
    font-family: "openR";
    font-size: 30px;
    margin-left: 695px;
    margin-top: -46px;
    width: 235px;
    height: 41px;
    border: none;
}
#text2{
    font-family: "openR";
    font-size: 30px;
    width: 140px;
    height: 41px;
    margin-left: 960px;
    margin-top: -43px;
    position: absolute;
}
#lupa{
    margin-left: 1123.7px;
    margin-top: -35px;
    position: absolute;
}
#car{
    margin-left: 1223.67px;
    margin-top: -43px;
    position: absolute;
}
#arrow1{
    margin-left: 1339.82px;
    margin-top: -46px;
    position: absolute;
}
#line{
    margin-left: 987.75px;
    margin-top: 10px;
    width: 83.5px;
}
#text3{
    font-family: "openR";
    font-size: 20px;
    margin-left: 1330px;
    margin-top: 25px;
    color: white;
}
#menu{
    font-family: "openR";
    font-size: 20px;
    color: white;
    margin-left: 1323px;
    margin-top: 100px;
    opacity: 0.5;
}
.xs{
    opacity: 1;
    font-family: "openR";
    font-size: 20px;
    color: white;
    margin-left: 1323px;
    margin-top: 100px;
}
#tarjeta{
    width: 576px;
    height: 324px;
    margin-left: 359px;
    margin-top: -460px;
    position: absolute;
}
#text4{
    font-family: "openSB";
    color: black;
    margin-top: 319px;
    margin-left: 360px;
    font-size: 40px;
}
#text5{
    font-family: "openSB";
    font-size: 27px;
    margin-top: 22px;
    margin-left: 540px;
}
#text6{
    margin-left: 589px;
    font-size: 27px;
    font-family: "openSB";
    margin-top: 30px;
}
#bloque2{
    border: 1px solid #707070;
    border-radius: 10px;
    width: 288px;
    height: 58px;
    margin-left: 545px;
    margin-top: 18px;
}
#text7{
    font-size: 27px;
    font-family: "openSB";
    opacity: 0.5;
    text-align: center;
    margin-top: 10px;
}
#bloque{
    border: #D5FF43;
    background-color: #D5FF43;
    width: 160px;
    height: 114px;
    border-radius: 8px;
    margin-left: 1130px;
    margin-top: px;
}
#tarjeta1{
    width: 129px;
    height: 29px;
    margin-top: 29px;
    margin-left: 15px;
}
#text8{
    font-family: "openSB";
    font-size: 26px;
    width: 111px;
    height: 36px;
    margin-top: 6px;
    margin-left: 25px;
}
#arrow2{
    margin-left: 1385.82px;
    margin-top: -30px;
    position: absolute;
}