@font-face {
    font-family: "Amazon Ember";
    font: "bold";
    src: url(../font/AmazonEmber_Bd.ttf);
}
@font-face {
    font-family: "Amazon Ember";
    font: "light";
    src: url(../font/AmazonEmber_Lt.ttf);
}