*{
    background-color: rgb(167, 175, 182);
}
#table{
    border: 2px solid black;
    border-collapse: collapse;
}
#dani{
    border-radius: 50%;
    width: 300px;
}
.col{
    border: 2px solid black;
    text-align: center;
}
.certi{
    width: 200px;
}